In [ ]:
1.Split this string s = "Hi there Sam!"

In [1]:
s="Hi there Sam!"
print(s.split(" "))

['Hi', 'there', 'Sam!']

2.Use .format() to print the following string. Output should be: The diameter of Earth is 12742 kilometers. planet = "Earth" diameter = 12742

In [2]:
print("The diameter of {planet} is {diameter} kilometers.".format(planet='Earth',diameter=12742))

The diameter of Earth is 12742 kilometers.

3.In this nest dictionary grab the word "hello" d = {'k1':[1,2,3,{'tricky':['oh','man','inception',{'target':[1,2,3,'hello']}]}]}

In [3]:
d = {'k1':[1,2,3,{'tricky':['oh','man','inception',{'target':[1,2,3,'hello']}]}]}
d1=d['k1'][3]

In [4]:
d2=d1['tricky'][3]

In [5]:
d2

{'target': [1, 2, 3, 'hello']}

In [6]:
d2['target'][3]

'hello'

4.Create an array of 10 zeros? 4.2 Create an array of 10 fives?

In [7]:
import numpy as np
k1=np.arange(10)
k2=np.arange(10)
k1.fill(0)
k2.fill(5)

In [8]:
print(k1)
print(k2)

[0 0 0 0 0 0 0 0 0 0]
[5 5 5 5 5 5 5 5 5 5]

6.Create a 3x3 matrix with values ranging from 0 to 8

In [9]:
matrix=np.arange(0,9).reshape(3,3)
print(matrix)

[[0 1 2]
 [3 4 5]
 [6 7 8]]

7.Concatinate a and b a = np.array([1, 2, 3]), b = np.array([4, 5, 6])

In [10]:
a = np.array([1, 2, 3])
b = np.array([4, 5, 6])
print(np.concatenate((a,b),axis=0))

[1 2 3 4 5 6]

8.Create a dataframe with 3 rows and 2 columns

In [11]:
import pandas as pd
row=['a','b','c']
col=[1,2]
l=np.arange(1,7)
l=l.reshape(3,2)
r=pd.DataFrame(l,index=row,columns=col)

In [12]:
r

   1  2
a  1  2
b  3  4
c  5  6

9.Generate the series of dates from 1st Jan, 2023 to 10th Feb, 2023

In [13]:
pd.date_range(start="2023-01-01",end="2023-02-10")

DatetimeIndex(['2023-01-01', '2023-01-02', '2023-01-03', '2023-01-04',
               '2023-01-05', '2023-01-06', '2023-01-07', '2023-01-08',
               '2023-01-09', '2023-01-10', '2023-01-11', '2023-01-12',
               '2023-01-13', '2023-01-14', '2023-01-15', '2023-01-16',
               '2023-01-17', '2023-01-18', '2023-01-19', '2023-01-20',
               '2023-01-21', '2023-01-22', '2023-01-23', '2023-01-24',
               '2023-01-25', '2023-01-26', '2023-01-27', '2023-01-28',
               '2023-01-29', '2023-01-30', '2023-01-31', '2023-02-01',
               '2023-02-02', '2023-02-03', '2023-02-04', '2023-02-05',
               '2023-02-06', '2023-02-07', '2023-02-08', '2023-02-09',
               '2023-02-10'],
              dtype='datetime64[ns]', freq='D')

10.Create 2D list to DataFrame lists = [[1, 'aaa', 22], [2, 'bbb', 25], [3, 'ccc', 24]]

In [14]:
lists = [[1, 'aaa', 22], [2, 'bbb', 25], [3, 'ccc', 24]]
df=pd.DataFrame(lists)

In [15]:
df

   0    1   2
0  1  aaa  22
1  2  bbb  25
2  3  ccc  24